# Dependency directory
node_modules

# Annoying copies
package-lock 2.json
package 2.json
networks 2.json


# local env variables
.env

# VS Code
.vscode

# build directory
build

# OpenZeppelin SDK
.openzeppelin/dev-*.json
.openzeppelin/.session*

# macOS
.DS_Store
*.icloud
