# Dependency directory
node_modules

# Annoying copies



# local env variables
.env

# VS Code
.vscode

# build directory
build

# OpenZeppelin SDK
.openzeppelin/dev-*.json
.openzeppelin/.session*
.openzeppelin/.lock*

# macOS
.DS_Store
*.icloud
