# Dependency directory
node_modules

# local env variables
.env

# VS Code
.vscode

# build directory
build

# OpenZeppelin SDK
.openzeppelin/dev-*.json
.openzeppelin/.session*

# macOS
.DS_Store
*.icloud
