# Config file
#CONFIG_FILE=<path-to-config-file>

# Network
NETWORK=kovan
#ETHEREUM_RPC_URL=https://kovan.infura.io

# mnemonic or private key
#MNEMONIC="your mnemonic"
#PK=your-private-key

# Debug
#DEBUG=ERROR-*,WARN-*,INFO-*,DEBUG-*
DEBUG=ERROR-*,WARN-*,INFO-*

# Time Zone (for formating dates)
TZ=Europe/Berlin

# Gas price (fast, average or safeLow)
DEFAULT_GAS_PRICE_USED=fast

# API
PUBLIC_API_PORT=9092

# Markets
#MARKETS=RDN-WETH,OMG-WETH
MARKETS=RDN-WETH

# Tokens
RDN_TOKEN_ADDRESS=0x1f7f270df126ba464228cc8d8203d2768429e085
OMG_TOKEN_ADDRESS=0xde6efd396e18a950b45e24d6225505f48d0c627b